.bodyMainLeft{
	width: 11.17rem;
	float: left;
}
.bodyMain1{
	width: 100%;
	height: 2rem;
	background: #FFFFFF;
	box-shadow: 0.03rem 0.03rem 0.12rem 0.01rem rgba(228, 228, 228, 0.2);
	border-radius: 0.09rem 0.09rem 0.09rem 0.09rem;
	border: 0.01rem solid #F2F3F5;
	padding: 0.44rem 0.42rem;
	float: left;
}
.bodyMain1Div{
	float: left;
	width: 50%;
}
.bodyMain1Div:nth-child(1){
	border-right: 2px solid #ECF0F1;
}
.bodyMain1Div .touxiang2{
	width: 1.09rem;
	height: 1.09rem;
	display: block;
	float: left;
	margin-right: 0.25rem;
}
.bodyMain1DivName1{
	font-size: 0.36rem;
	font-weight: 600;
	color: #364064;
	line-height: 0.5rem;
}
.bodyMain1DivName2{
	font-size: 0.24rem;
	color: #8593C2;
}
.bodyMain1DivName3{
	font-size: 0.18rem;
	color: #8593C2;
}
.bodyMain1DivRightTIle{
	font-size: 0.24rem;
	font-weight: 400;
	color: #8593C2;
	line-height: 0.33rem;
}
.bodyMain1Div:nth-child(2){
	padding-left: 1rem;
	padding-right: 0rem;
}
.bodyMain1DivSpanBox{
	overflow: hidden;
}
.bodyMain1DivSpan{
	float: left;
	font-size: 0.12rem;
	font-weight: 400;
	color: #364064;
	margin-top: 0.12rem;
	margin-right: 0.21rem;
	line-height: 0.24rem;
}
.bodyMain1DivSpan img{
	width: 0.24rem;
	height: 0.24rem;
	display: inline;
	margin-right: 0.09rem;
}
.bodyMain2{
	width: 3.5rem;
	height: 5.68rem;
	background: #FFFFFF;
	box-shadow: 0.03rem 0.03rem 0.12rem 0.01rem rgba(228, 228, 228, 0.2);
	border-radius: 0.09rem 0.09rem 0.09rem 0.09rem;
	border: 0.01rem solid #F2F3F5;
	float: right;
}
.bodyMain2Li{
	padding: 0.35rem 0;
	width: 2.9rem;
	border-bottom: 1px solid #ECF0F1;
	margin: 0 auto;
	overflow: hidden;
}
.bodyMain2Li:last-child{
	border-bottom: none;
}
.bodyMain2LiIcon{
	float: left;
	width: 0.52rem;
	height: 0.52rem;
	display: block;
	margin-right: 0.17rem;
}
.bodyMain2LiTitle1{
	float: left;
	font-size: 0.18rem;
	font-weight: 400;
	color: #364064;
	width: 1.66rem;
	line-height: 0.25rem;
}
.bodyMain2LiTitle2{
	width: 2rem;
	float: left;
	font-size: 0.18rem;
	font-weight: 400;
	color: #8593C2;
	line-height: 0.25rem;
	margin-top: 0.02rem;
}
.bodyMain2LiTitle2 .xiugaia{
	color: #5794FF;
	margin-left: 0.11rem;
}
.bodyMain1-2{
	width: 100%;
	float: left;
	margin-top: 0.5rem;
}
.bodyMain1-2KaPian{
	width: 3.48rem;
	height: 1.7rem;
	border-radius: 0.09rem;
	float: left;
	margin-right: 0.36rem;
	position: relative;
}
.bodyMain1-2KaPian:last-child{
	margin-right: 0;
}
.bodyMain1-2KaPian::before{
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	pointer-events: none;
	height: 100%;
	width: 100%;
	background-size: 1.04rem 1.09rem;
	background-repeat: no-repeat;
	background-position: right bottom;
}
.bodyMain1-2KaPian.lan{
	background-color: #1099D1;
	background: linear-gradient(90deg, #46E0D6 0%, #1099D1 100%);
}
.bodyMain1-2KaPian.lan::before{
	background-image: url(../img/index/div2img1-1.png);
}
.bodyMain1-2KaPian.zi{
	background-color: #9270FF;
	background: linear-gradient(90deg, #9270FF 0%, #FD5D9F 100%);
}
.bodyMain1-2KaPian.zi::before{
	background-image: url(../img/index/div2img2-1.png);
}
.bodyMain1-2KaPian.juhuang{
	background-color: #F35969;
	background: linear-gradient(90deg, #F8CF8B 0%, #F35969 100%);
}
.bodyMain1-2KaPian.juhuang::before{
	background-image: url(../img/index/div2img3-1.png);
}
.bodyMain1-2KaPianTitle1{
	padding: 0.28rem 0.33rem 0;
	line-height: 0.5rem;
	font-size: 0.26rem;
	font-weight: 400;
	color: #FFFFFF;
}
.bodyMain1-2KaPianTitle1 img{
	width: 0.5rem;
	height: 0.5rem;
	display: inline;
	margin-right: 0.1rem;
}
.bodyMain1-2KaPianTitle2{
	font-size: 0.35rem;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 0.49rem;
	margin-top: 0.18rem;
	padding-left: 0.33rem;
}
.bodyMain1-3{
	width: 100%;
	float: left;
	margin-top: 0.65rem;
	background: #FFFFFF;
	box-shadow: 0.03rem 0.03rem 0.12rem 0.01rem rgba(228, 228, 228, 0.2);
	border-radius: 0.09rem;
	border: 0.01rem solid #F2F3F5;
	padding: 0.43rem;
}
.bodyMain1-3Li{
	width: calc(100% / 3);
	height: 1.2rem;
	padding-left: 0.58rem;
	float: left;
	border-right: 0.02rem solid #ECF0F1;
}
.bodyMain1-3Li:last-child{
	border: none;
}
.bodyMain1-3Li>div:nth-child(1){
	font-size: 0.24rem;
	font-weight: 400;
	color: #8593C2;
	line-height: 0.33rem;
}
.bodyMain1-3Li>div:nth-child(2){
	margin-top: 0.2rem;
	font-size: 0.48rem;
	font-weight: 600;
	color: #505587;
	line-height: 0.67rem;
}
.bodyMain3{
	float: left;
	margin-top: 0.5rem;
	width: 11.17rem;
	min-height: 6.19rem;
	background: #FFFFFF;
	box-shadow: 0.03rem 0.03rem 0.12rem 0.01rem rgba(228, 228, 228, 0.2);
	border-radius: 0.09rem;
	opacity: 1;
	border: 0.01rem solid #F2F3F5;
}
@media screen and (max-width: 700px) {
	.bodyMainLeft{
		width: 100%;
	}
	.bodyMain1{
		height: auto;
	}
	.bodyMain1Div{
		width: 100%;
	}
	.bodyMain1Div:nth-child(1){
		border-right: none;
	}
	.bodyMain1Div:nth-child(2){
		padding-left: 0;
	}
	.bodyMain1DivRightTIle{
		margin-top: 0.2rem;
	}
	.bodyMain1-2KaPian{
		width: 2.24rem;
		height: 1.42rem;
		margin-right: 0.14rem;
	}
	.bodyMain1-2KaPianTitle1{
		display: flex;
		padding-top: 0.22rem;
		align-items: center;
		align-content: center;
		line-height: 1;
		padding-left: 0.2rem;
	}
	.bodyMain1-2KaPianTitle2{
		font-size: 0.28rem;
		padding-left: 0.2rem;
		margin-top: 0.1rem;
	}
	.bodyMain1-2{
		margin-top: 0.3rem;
	}
	.bodyMain1-2KaPian::before{
		content: "";
		top: 0;
		left: 0;
		position: absolute;
		pointer-events: none;
		height: 100%;
		width: 100%;
		background-size: 0.72rem 0.78rem;
		background-repeat: no-repeat;
		background-position: right bottom;
	}
	.bodyMain1-3{
		padding: 0.26rem 0;
		margin-top: 0.3rem;
	}
	.bodyMain1-3Li{
		padding-left: 0.3rem;
	}
	.bodyMain2{
		width: 100%;
		height: auto;
		margin-top: 0.5rem;
	}
	.bodyMain2Li{
		width: 6.52rem;
	}
	.bodyMain2LiTitle1{
		width: 4.6rem;
		padding-top: 0.2rem;
		font-size: 0.28rem;
	}
	.bodyMain2LiTitle2{
		width: 4.6rem;
		font-size: 0.28rem;
		margin-top: 0.22rem;
	}
	.bodyMain2LiIcon{
		width: 1.04rem;
		height: 1.04rem;
	}
	.bodyMain3{
		width: 100%;
		min-height: 3rem;
	}
	.bodyMain1DivName3{
		font-size: 0.24rem;
	}
}