
.bodyMainLeft{
	width: 11.17rem;
	margin: 0 auto;
}
.bodyMain2{
	width: 100%;
	height: 7rem;
	background: #FFFFFF;
	box-shadow: 0.03rem 0.03rem 0.12rem 0.01rem rgba(228, 228, 228, 0.2);
	border-radius: 0.09rem;
	border: 0.01rem solid #F2F3F5;
}
.layui-form-label{
	width: 1.3rem;
}
.layui-form{
	padding-top: 0.5rem;
}
.layui-form-item{
	padding-left: 2.3rem;
}
.layui-btn{
	margin-top: 0.5rem;
}
.bodyMain{
	display: none;
}
.mainTipsBox{
	width: 5.5rem;
	margin: 0.7rem auto 0;
}
.mainTipsBoxTitle1{
	font-size: 0.4rem;
	height: 0.56rem;
	font-family: .PingFang SC-Semibold, PingFang SC;
	font-weight: 600;
	color: #505587;
	display: flex;
	align-items: center;
	align-content: center;
	line-height: 1;
	justify-content: center;
}
.mainTipsBoxTitle1 .errorImgs{
	width: 0.38rem;
	height: 0.38rem;
	display: block;
	margin-left: 0.12rem;
}
.mainTipsBoxTitle2{
	font-size: 0.24rem;
	font-weight: 400;
	color: #505587;
	line-height: 0.33rem;
	margin-top: 0.6rem;
}
.mainTipsBoxTitle3{
	margin-top: 0.5rem;
	font-size: 0.24rem;
	font-weight: 400;
	color: #505587;
	line-height: 0.412rem;
}
.page3Tips{
	padding: 0 0.15rem;
	font-size: 0.24rem;
	font-weight: 400;
	color: #364064;
}
.tfBtn{
	padding: 0 0.2rem;
	display: inline-block;
	text-align: center;
	height: 0.41rem;
	line-height: 0.41rem;
	background: #744DFE;
	box-shadow: 0rem 0.04rem 0.09rem 0.01rem rgba(116, 77, 254, 0.5019607843137255);
	border-radius: 0.06rem;
	font-size: 0.16rem;
	font-weight: 400;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	margin-left: 0.33rem;
}
.layui-input-block{
	display: flex;
	align-items: center;
}
.layui-input-block input{
	flex: 1;
	width: 100%;
}
.yanzhengma.disabled{
	opacity: 0.7;
}
@media screen and (max-width: 700px) {
	.bodyMainLeft{
		width: 100%;
	}
	.bodyMain3{
		width: 100%;
		margin-top: 0.5rem;
	}
	.layui-form-item{
		padding-left: 0;
	}
	.layui-form-label{
		width: 2.1rem;
	}
	.tfBtn{
		height: 0.6rem;
		line-height: 0.6rem;
	}
}